@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "pretendard";
  src: url("../../public/font/PretendardVariable.ttf");
}

.custom-textarea::placeholder {
  font-family: "pretendard"; /* 원하는 폰트 패밀리로 변경 */
  font-size: 1rem; /* 원하는 폰트 크기로 변경 */
  line-height: 1.5rem;
  color: #999; /* 원하는 색상으로 변경 */
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

:root {
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .neutralBtnStyle-l {
    @apply p-4 rounded-2xl items-center inline-flex border border-neutral-200
           text-neutral-700 text-paragraph-l font-bold hover:duration-500
          fill-neutral-700;

    /* @apply ${isActive ? 'bg-neutral-200' : 'bg-neutral-white hover:bg-neutral-100'}; */
  }

  .neutralBtnStyle-m {
    @apply p-2.5 rounded-[10px] items-center inline-flex
           text-neutral-700 text-paragraph-m fill-neutral-700 hover:duration-500;

    /* @apply ${isActive ? 'bg-neutral-200 font-bold' 
                      : 'bg-neutral-white font-normal hover:bg-neutral-100 hover:font-bold'}; */
  }

  .blueBtnStyle-l {
    @apply p-4 rounded-2xl justify-center items-center inline-flex
           text-neutral-white text-paragraph-l font-bold fill-neutral-white hover:duration-500

    /* @apply ${isActive ? 'bg-neutral-800' 
                      : 'bg-blue-500 hover:bg-blue-600'}; */
  }
  
  .blueBtnStyle-m {
    @apply p-2.5 rounded-[10px] justify-center items-center inline-flex
          text-neutral-white text-paragraph-m font-normal fill-neutral-white hover:duration-500
          bg-blue-original hover:bg-blue-600 hover:font-bold

    /* @apply ${isActive ? 'bg-neutral-800 font-bold' 
                      : 'bg-blue-500 hover:bg-blue-600 hover:font-bold'}; */
  }

  .blueBtnStyle-s {
    @apply p-1 rounded-[10px] justify-center items-center inline-flex
          text-neutral-white text-caption font-normal fill-neutral-white hover:duration-500
          bg-blue-original hover:bg-blue-600 hover:font-bold
  }
}

@media (prefers-color-scheme: dark) {
  @layer utilities {
    .neutralBtnStyle-l-dark {
    @apply p-4 rounded-2xl items-center inline-flex border border-neutral-800
           text-neutral-300 text-paragraph-l font-bold hover:duration-500
          fill-neutral-300;

    /* @apply ${isActive ? 'bg-neutral-600' : 'bg-neutral-800 hover:bg-neutral-700'}; */
  }

  .neutralBtnStyle-m-dark {
    @apply p-2.5 rounded-[10px] items-center inline-flex
           text-neutral-300 text-paragraph-m fill-neutral-300 hover:duration-500;

    /* @apply ${isActive ? 'bg-neutral-600 font-bold' 
                      : 'bg-neutral-800 font-normal hover:bg-neutral-700 hover:font-bold'}; */
  }
  }
}

@media only screen and (max-width: 600px) {
  .custom-textarea {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}